<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome!</title>
	</head>

	<body class="bg-gray-200">
  
	<nav class="flex justify-center space-x-0 sm:space-x-12 pb-8 pt-8 bg-white border-b-2 border-gray-300">
		<a href="/" class="font-medium text-gray-500 hover:text-gray-900 px-6">Home</a>
		<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900 px-6">Pricing</a>
		<a href="/blog" class="font-bold text-gray-800 hover:text-gray-900 px-6">Blog</a>
		<a href="/login" class="font-medium text-gray-500 hover:text-gray-900 px-6">Login</a>
		<a href="/signup" class="font-medium text-white hover:bg-blue-600 bg-blue-500 py-2 px-2 -mt-2 rounded-lg">Sign up</a>
		</nav>
    <h1 class="flex justify-center text-3xl pt-10 font-extrabold text-green-600">Blog</h1>
    
    <div class="container text-center bg-gray-100 mx-auto max-w-4xl py-10 mt-10 rounded-lg border-gray-300 shadow-lg flex flex-col hover:bg-gradient-to-br from-green-200 to-lime-100">
    <p class="text-gray-400 uppercase small text-sm">Apr 06 2022</p>
    <h3 class="text-2xl mb-10 font-semibold text-green-600 prose lg:prose-xl mt-2">
      First post</h3>
    <p class=" text-gray-500 small">Today we introduced a new big update...</p>
    </div>

    <div class="container bg-gray-100 mx-auto max-w-4xl py-10 mt-10 rounded-lg border-gray-300 shadow-lg text-center hover:bg-gradient-to-br from-green-200 to-lime-100">
    <p class="text-gray-400 uppercase small text-sm">Apr 05 2022</p>
    <h3 class="text-2xl mb-10 font-semibold text-green-600 prose lg:prose-xl mt-2">
      Second post</h3>
    <p class=" text-gray-500 small">Today we introduced a new big update...</p>
    </div>

    <div class="container text-center bg-gray-100 mx-auto max-w-4xl py-10 mt-10 rounded-lg border-gray-300 shadow-lg hover:bg-gradient-to-br from-green-200 to-lime-100">
    <p class="text-gray-400 uppercase small text-sm">Apr 04 2022</p>
    <h3 class="text-2xl mb-10 font-semibold text-green-600 prose lg:prose-xl mt-2">
      Third post</h3>
    <p class=" text-gray-500 small">Today we introduced a new big update...</p>
    </div>

  <footer class="pt-8 border-t-2 border-gray-300 mt-12">
	  <nav class="flex justify-center pb-4 space-x-10">
		<a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
		<a href="#features" class="font-medium text-gray-500 hover:text-gray-900">Features</a>
		<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
	</nav>
	<p class="text-center text-gray-400 mb-6">
		&copy; 2022 Great Tool. All rights reserved.
	</p>
</footer>

    </body>
    </html>