<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome!</title>
	</head>

	<body>
		<nav class="flex justify-center space-x-0 sm:space-x-12 pb-8 pt-8 bg-white-100 border-b-2 border-gray-300">
		  <a href="/" class="font-bold text-gray-800 hover:text-gray-900 hover:bg-gradient-to-br from-green-200 to-lime-100 rounded-lg py-2 px-4 -mt-2">Home</a>
		  <a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900 hover:bg-gradient-to-br from-green-200 to-lime-100 py-2 px-4 -mt-2 rounded-lg">Pricing</a>
		  <a href="/blog" class="font-medium text-gray-500 hover:text-gray-900 hover:bg-gradient-to-br from-green-200 to-lime-100 py-2 px-4 -mt-2 rounded-lg">Blog</a>
		  <a href="/login" class="font-medium text-gray-500 hover:text-gray-900 hover:bg-gradient-to-br from-green-200 to-lime-100 py-2 px-4 -mt-2 rounded-lg">Login</a>
		  <a href="/signup" class="font-medium text-white hover:bg-blue-600 bg-blue-500 py-2 px-3 -mt-2 rounded-lg">Sign up</a>
		</nav>

		<div class="bg-gradient-to-t from-green-300 via-cyan-50 to-fuchsia-100 pb-4 pt-10">
      <div class="container mx-auto max-w-2xl py-12 rounded-[16px] border-gray-300 shadow-lg">
        <h1 class="text-center text-3xl mb-10 font-extrabold tracking-tight text-green-600 prose lg:prose-xl">Buy this amazing tool</h1>
        <p class="text-center">Trusted by hundreds of companies</p>
      <ul class="text-center pt-10">
        <li class="inline text-gray-500 mx-4">Google</li>
        <li class="inline text-gray-500 mx-4">Apple</li>
        <li class="inline text-gray-500 mx-4">Meta</li>
      </ul>
      <button class="block text-white hover:text-gray-700 rounded-lg drop-shadow-lg bg-green-500 hover:bg-gradient-to-br from-green-200 to-lime-100 px-5 py-3 mx-auto mt-10 font-bold uppercase">Find out more</button>
    </div>

		<div class="mt-10 mx-auto text-center max-w-3xl px-6">
	    <p class="mt-2 text-2xl font-extrabold text-gray-700 tracking-tight">Everything you need to know about this app
	    </p>
	    <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">A great list of things it allows you to do
	    </p>
  
		<div class="mt-10 grid gap-8 grid-cols-1 md:grid-cols-2 max-w-2xl mx-auto">
		  <div class="bg-white rounded-[16px] px-6 pb-8 shadow-xl hover:bg-gradient-to-br from-green-200 to-lime-100 cursor-pointer">
		   <h1 class="mt-8 text-lg font-medium tracking-tight">First benefit</h1>
			 <p class="mt-5 text-gray-500">It's useful!</p>
		</div>

		  <div class="bg-white rounded-[16px] px-6 pb-8 shadow-xl hover:bg-gradient-to-br from-green-200 to-lime-100 cursor-pointer">
		    <h1 class="mt-8 text-lg font-medium tracking-tight">Second benefit</h1>
			  <p class="mt-5 text-gray-500">It's cheap!</p>
			</div>

			<div class="bg-white rounded-[16px] px-6 pb-8 shadow-xl hover:bg-gradient-to-br from-green-200 to-lime-100 cursor-pointer">
		    <h1 class="mt-8 text-lg font-medium tracking-tight">Third benefit</h1>
			  <p class="mt-5 text-gray-500">It's amazing!</p>
			</div>

			<div class="bg-white rounded-[16px] px-6 pb-8 shadow-xl hover:bg-gradient-to-br from-green-200 to-lime-100 cursor-pointer">
		    <h1 class="mt-8 text-lg font-medium tracking-tight">Limited offer!</h1>
			  <p class="mt-5 text-gray-500">Lorem ipsum</p>
			</div>
		</div>
	</div>
		
		
	  <footer class="pt-8 border-t-2 border-gray-300 mt-12">
	    <nav class="flex justify-center pb-4 space-x-10">
		    <a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
		    <a href="#features" class="font-medium text-gray-500 hover:text-gray-900">Features</a>
		    <a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
	    </nav>
	    <p class="text-center text-gray-400 mb-6">&copy; 2022 Great Tool. All rights reserved.
	    </p>
    </footer>
</div>
 
</body>
</html>